[Unit]
Description=ebuef2ivucrew

[Service]
Type=notify
ExecStart=/usr/share/EBuEf2IVUCrew/EBuEf2IVUCrew
TimeoutSec=infinity
Restart=always

[Install]
WantedBy=multi-user.target
Alias=ebuef2ivucrew