[Unit]
Description=ebuef2ivupath

[Service]
Type=notify
ExecStart=/usr/share/EBuEf2IVUPath/EBuEf2IVUPath
TimeoutSec=infinity
Restart=always

[Install]
WantedBy=multi-user.target
Alias=ebuef2ivupath