[Unit]
Description=ebuef2ivu

[Service]
Type=notify
ExecStart=/usr/share/EBuEf2IVUCore/EBuEf2IVUCore
TimeoutSec=infinity
Restart= always

[Install]
WantedBy=multi-user.target
Alias=ebuef2ivu