<?xml version="1.0" encoding="utf-8"?>
<EBuEf2IVUSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<AllocationsIpAddress>224.0.0.8</AllocationsIpAddress>
	<AllocationsListenerPort>4454</AllocationsListenerPort>
	<AllocationsPattern>ZN SET DISPATCH</AllocationsPattern>
	<AllocationsRetryTime>30</AllocationsRetryTime>
	<DatabaseConnectionString>SERVER=db.ebuef;DATABASE=ebuef_fahrplan;UID=ebuef2ivucore;PASSWORD=uKQAx5hS2RxDs7oU;SslMode=none;</DatabaseConnectionString>
	<DatabaseRetryTime>30</DatabaseRetryTime>
	<LogFilePath>EBuEf2IVU.log</LogFilePath>
	<LogLevel>Debug</LogLevel>
	<MessagesIpAddress>224.0.0.7</MessagesIpAddress>
	<MessagesListenerPort>4453</MessagesListenerPort>
	<MessagesRetryTime>30</MessagesRetryTime>
	<SenderDivision>EBUEF</SenderDivision>
	<SenderEndpoint>http://ivu.ebuef:30000</SenderEndpoint>
	<SenderRetryTime>30</SenderRetryTime>
	<InfrastructureMappings>
		<InfrastructureMapping>
			<MessageBetriebsstelle>XAB_A</MessageBetriebsstelle>
			<MessageEndGleis/>
			<MessageStartGleis/>
			<EBuEfNachBetriebsstelle>XAB</EBuEfNachBetriebsstelle>
			<EBuEfVonVerschiebungSekunden/>
			<EBuEfVonBetriebsstelle/>
			<EBuEfNachVerschiebungSekunden>7</EBuEfNachVerschiebungSekunden>
			<IVUGleis/>
			<IVUNetzpunkt>XAB</IVUNetzpunkt>
			<IVUTrainPositionType>Abfahrt</IVUTrainPositionType>
			<IVUVerschiebungSekunden>7</IVUVerschiebungSekunden>
		</InfrastructureMapping>
		<InfrastructureMapping>
			<MessageBetriebsstelle>XAB_P</MessageBetriebsstelle>
			<MessageEndGleis/>
			<MessageStartGleis/>
			<EBuEfVonBetriebsstelle>XAB</EBuEfVonBetriebsstelle>
			<EBuEfVonVerschiebungSekunden>5</EBuEfVonVerschiebungSekunden>
			<EBuEfNachBetriebsstelle/>
			<EBuEfNachVerschiebungSekunden/>
			<IVUGleis/>
			<IVUNetzpunkt>XAB</IVUNetzpunkt>
			<IVUTrainPositionType>Ankunft</IVUTrainPositionType>
			<IVUVerschiebungSekunden>5</IVUVerschiebungSekunden>
		</InfrastructureMapping>
		<InfrastructureMapping>
			<MessageBetriebsstelle>XAP</MessageBetriebsstelle>
			<MessageEndGleis/>
			<MessageStartGleis/>
			<EBuEfVonBetriebsstelle/>
			<EBuEfVonVerschiebungSekunden/>
			<EBuEfNachBetriebsstelle>XAP</EBuEfNachBetriebsstelle>
			<EBuEfNachVerschiebungSekunden>0</EBuEfNachVerschiebungSekunden>
			<IVUGleis/>
			<IVUNetzpunkt>XAP</IVUNetzpunkt>
			<IVUTrainPositionType>Abfahrt</IVUTrainPositionType>
			<IVUVerschiebungSekunden>0</IVUVerschiebungSekunden>
		</InfrastructureMapping>
		<InfrastructureMapping>
			<MessageBetriebsstelle>XBG_A</MessageBetriebsstelle>
			<MessageEndGleis/>
			<MessageStartGleis/>
			<EBuEfVonBetriebsstelle/>
			<EBuEfVonVerschiebungSekunden/>
			<EBuEfNachBetriebsstelle>XBG</EBuEfNachBetriebsstelle>
			<EBuEfNachVerschiebungSekunden>7</EBuEfNachVerschiebungSekunden>
			<IVUGleis/>
			<IVUNetzpunkt>XBG</IVUNetzpunkt>
			<IVUTrainPositionType>Abfahrt</IVUTrainPositionType>
			<IVUVerschiebungSekunden>7</IVUVerschiebungSekunden>
		</InfrastructureMapping>
		<InfrastructureMapping>
			<MessageBetriebsstelle>XBG_F</MessageBetriebsstelle>
			<MessageEndGleis/>
			<MessageStartGleis/>
			<EBuEfVonBetriebsstelle/>
			<EBuEfVonVerschiebungSekunden/>
			<EBuEfNachBetriebsstelle>XBG</EBuEfNachBetriebsstelle>
			<EBuEfNachVerschiebungSekunden>7</EBuEfNachVerschiebungSekunden>
			<IVUGleis/>
			<IVUNetzpunkt>XBG</IVUNetzpunkt>
			<IVUTrainPositionType>Abfahrt</IVUTrainPositionType>
			<IVUVerschiebungSekunden>7</IVUVerschiebungSekunden>
		</InfrastructureMapping>
		<InfrastructureMapping>
			<MessageBetriebsstelle>XBG_N</MessageBetriebsstelle>
			<MessageEndGleis/>
			<MessageStartGleis/>
			<EBuEfVonBetriebsstelle>XBG</EBuEfVonBetriebsstelle>
			<EBuEfVonVerschiebungSekunden>5</EBuEfVonVerschiebungSekunden>
			<EBuEfNachBetriebsstelle/>
			<EBuEfNachVerschiebungSekunden/>
			<IVUGleis/>
			<IVUNetzpunkt>XBG</IVUNetzpunkt>
			<IVUTrainPositionType>Ankunft</IVUTrainPositionType>
			<IVUVerschiebungSekunden>5</IVUVerschiebungSekunden>
		</InfrastructureMapping>
		<InfrastructureMapping>
			<MessageBetriebsstelle>XBG_P</MessageBetriebsstelle>
			<MessageEndGleis/>
			<MessageStartGleis/>
			<EBuEfVonBetriebsstelle>XBG</EBuEfVonBetriebsstelle>
			<EBuEfVonVerschiebungSekunden>5</EBuEfVonVerschiebungSekunden>
			<EBuEfNachBetriebsstelle/>
			<EBuEfNachVerschiebungSekunden/>
			<IVUGleis/>
			<IVUNetzpunkt>XBG</IVUNetzpunkt>
			<IVUTrainPositionType>Ankunft</IVUTrainPositionType>
			<IVUVerschiebungSekunden>5</IVUVerschiebungSekunden>
		</InfrastructureMapping>
		<InfrastructureMapping>
			<MessageBetriebsstelle>XBL_A</MessageBetriebsstelle>
			<MessageEndGleis/>
			<MessageStartGleis/>
			<EBuEfVonBetriebsstelle/>
			<EBuEfVonVerschiebungSekunden/>
			<EBuEfNachBetriebsstelle>XBL</EBuEfNachBetriebsstelle>
			<EBuEfNachVerschiebungSekunden>7</EBuEfNachVerschiebungSekunden>
			<IVUGleis/>
			<IVUNetzpunkt>XBL</IVUNetzpunkt>
			<IVUTrainPositionType>Abfahrt</IVUTrainPositionType>
			<IVUVerschiebungSekunden>7</IVUVerschiebungSekunden>
		</InfrastructureMapping>
		<InfrastructureMapping>
			<MessageBetriebsstelle>XBL_P</MessageBetriebsstelle>
			<MessageEndGleis/>
			<MessageStartGleis/>
			<EBuEfVonBetriebsstelle>XBL</EBuEfVonBetriebsstelle>
			<EBuEfVonVerschiebungSekunden>5</EBuEfVonVerschiebungSekunden>
			<EBuEfNachBetriebsstelle/>
			<EBuEfNachVerschiebungSekunden/>
			<IVUGleis/>
			<IVUNetzpunkt>XBL</IVUNetzpunkt>
			<IVUTrainPositionType>Ankunft</IVUTrainPositionType>
			<IVUVerschiebungSekunden>5</IVUVerschiebungSekunden>
		</InfrastructureMapping>
		<InfrastructureMapping>
			<MessageBetriebsstelle>XCE_A</MessageBetriebsstelle>
			<MessageEndGleis/>
			<MessageStartGleis/>
			<EBuEfVonBetriebsstelle/>
			<EBuEfVonVerschiebungSekunden/>
			<EBuEfNachBetriebsstelle>XCE</EBuEfNachBetriebsstelle>
			<EBuEfNachVerschiebungSekunden>7</EBuEfNachVerschiebungSekunden>
			<IVUGleis/>
			<IVUNetzpunkt>XCE</IVUNetzpunkt>
			<IVUTrainPositionType>Abfahrt</IVUTrainPositionType>
			<IVUVerschiebungSekunden>7</IVUVerschiebungSekunden>
		</InfrastructureMapping>
		<InfrastructureMapping>
			<MessageBetriebsstelle>XCE_F</MessageBetriebsstelle>
			<MessageEndGleis/>
			<MessageStartGleis/>
			<EBuEfVonBetriebsstelle/>
			<EBuEfVonVerschiebungSekunden/>
			<EBuEfNachBetriebsstelle>XCE</EBuEfNachBetriebsstelle>
			<EBuEfNachVerschiebungSekunden>7</EBuEfNachVerschiebungSekunden>
			<IVUGleis/>
			<IVUNetzpunkt>XCE</IVUNetzpunkt>
			<IVUTrainPositionType>Abfahrt</IVUTrainPositionType>
			<IVUVerschiebungSekunden>7</IVUVerschiebungSekunden>
		</InfrastructureMapping>
		<InfrastructureMapping>
			<MessageBetriebsstelle>XCE_N</MessageBetriebsstelle>
			<MessageEndGleis/>
			<MessageStartGleis/>
			<EBuEfVonBetriebsstelle>XCE</EBuEfVonBetriebsstelle>
			<EBuEfVonVerschiebungSekunden>5</EBuEfVonVerschiebungSekunden>
			<EBuEfNachBetriebsstelle/>
			<EBuEfNachVerschiebungSekunden/>
			<IVUGleis/>
			<IVUNetzpunkt>XCE</IVUNetzpunkt>
			<IVUTrainPositionType>Ankunft</IVUTrainPositionType>
			<IVUVerschiebungSekunden>5</IVUVerschiebungSekunden>
		</InfrastructureMapping>
		<InfrastructureMapping>
			<MessageBetriebsstelle>XCE_P</MessageBetriebsstelle>
			<MessageEndGleis/>
			<MessageStartGleis/>
			<EBuEfVonBetriebsstelle>XCE</EBuEfVonBetriebsstelle>
			<EBuEfVonVerschiebungSekunden>5</EBuEfVonVerschiebungSekunden>
			<EBuEfNachBetriebsstelle/>
			<EBuEfNachVerschiebungSekunden/>
			<IVUGleis/>
			<IVUNetzpunkt>XCE</IVUNetzpunkt>
			<IVUTrainPositionType>Ankunft</IVUTrainPositionType>
			<IVUVerschiebungSekunden>5</IVUVerschiebungSekunden>
		</InfrastructureMapping>
		<InfrastructureMapping>
			<MessageBetriebsstelle>XDE_A</MessageBetriebsstelle>
			<MessageEndGleis/>
			<MessageStartGleis/>
			<EBuEfVonBetriebsstelle/>
			<EBuEfVonVerschiebungSekunden/>
			<EBuEfNachBetriebsstelle>XDE</EBuEfNachBetriebsstelle>
			<EBuEfNachVerschiebungSekunden>7</EBuEfNachVerschiebungSekunden>
			<IVUGleis/>
			<IVUNetzpunkt>XDE</IVUNetzpunkt>
			<IVUTrainPositionType>Abfahrt</IVUTrainPositionType>
			<IVUVerschiebungSekunden>7</IVUVerschiebungSekunden>
		</InfrastructureMapping>
		<InfrastructureMapping>
			<MessageBetriebsstelle>XDE_F</MessageBetriebsstelle>
			<MessageEndGleis/>
			<MessageStartGleis/>
			<EBuEfVonBetriebsstelle/>
			<EBuEfVonVerschiebungSekunden/>
			<EBuEfNachBetriebsstelle>XDE</EBuEfNachBetriebsstelle>
			<EBuEfNachVerschiebungSekunden>7</EBuEfNachVerschiebungSekunden>
			<IVUGleis/>
			<IVUNetzpunkt>XDE</IVUNetzpunkt>
			<IVUTrainPositionType>Abfahrt</IVUTrainPositionType>
			<IVUVerschiebungSekunden>7</IVUVerschiebungSekunden>
		</InfrastructureMapping>
		<InfrastructureMapping>
			<MessageBetriebsstelle>XDE_N</MessageBetriebsstelle>
			<MessageEndGleis/>
			<MessageStartGleis/>
			<EBuEfVonBetriebsstelle>XDE</EBuEfVonBetriebsstelle>
			<EBuEfVonVerschiebungSekunden>5</EBuEfVonVerschiebungSekunden>
			<EBuEfNachBetriebsstelle/>
			<EBuEfNachVerschiebungSekunden/>
			<IVUGleis/>
			<IVUNetzpunkt>XDE</IVUNetzpunkt>
			<IVUTrainPositionType>Ankunft</IVUTrainPositionType>
			<IVUVerschiebungSekunden>5</IVUVerschiebungSekunden>
		</InfrastructureMapping>
		<InfrastructureMapping>
			<MessageBetriebsstelle>XDE_P</MessageBetriebsstelle>
			<MessageEndGleis/>
			<MessageStartGleis/>
			<EBuEfVonBetriebsstelle>XDE</EBuEfVonBetriebsstelle>
			<EBuEfVonVerschiebungSekunden>5</EBuEfVonVerschiebungSekunden>
			<EBuEfNachBetriebsstelle/>
			<EBuEfNachVerschiebungSekunden/>
			<IVUGleis/>
			<IVUNetzpunkt>XDE</IVUNetzpunkt>
			<IVUTrainPositionType>Ankunft</IVUTrainPositionType>
			<IVUVerschiebungSekunden>5</IVUVerschiebungSekunden>
		</InfrastructureMapping>
		<InfrastructureMapping>
			<MessageBetriebsstelle>XDR_A</MessageBetriebsstelle>
			<MessageEndGleis/>
			<MessageStartGleis/>
			<EBuEfVonBetriebsstelle/>
			<EBuEfVonVerschiebungSekunden/>
			<EBuEfNachBetriebsstelle>XDR</EBuEfNachBetriebsstelle>
			<EBuEfNachVerschiebungSekunden>7</EBuEfNachVerschiebungSekunden>
			<IVUGleis/>
			<IVUNetzpunkt>XDR</IVUNetzpunkt>
			<IVUTrainPositionType>Abfahrt</IVUTrainPositionType>
			<IVUVerschiebungSekunden>7</IVUVerschiebungSekunden>
		</InfrastructureMapping>
		<InfrastructureMapping>
			<MessageBetriebsstelle>XDR_F</MessageBetriebsstelle>
			<MessageEndGleis/>
			<MessageStartGleis/>
			<EBuEfVonBetriebsstelle/>
			<EBuEfVonVerschiebungSekunden/>
			<EBuEfNachBetriebsstelle>XDR</EBuEfNachBetriebsstelle>
			<EBuEfNachVerschiebungSekunden>7</EBuEfNachVerschiebungSekunden>
			<IVUGleis/>
			<IVUNetzpunkt>XDR</IVUNetzpunkt>
			<IVUTrainPositionType>Abfahrt</IVUTrainPositionType>
			<IVUVerschiebungSekunden>7</IVUVerschiebungSekunden>
		</InfrastructureMapping>
		<InfrastructureMapping>
			<MessageBetriebsstelle>XDR_G</MessageBetriebsstelle>
			<MessageEndGleis/>
			<MessageStartGleis/>
			<EBuEfVonBetriebsstelle/>
			<EBuEfVonVerschiebungSekunden/>
			<EBuEfNachBetriebsstelle>XDR</EBuEfNachBetriebsstelle>
			<EBuEfNachVerschiebungSekunden>7</EBuEfNachVerschiebungSekunden>
			<IVUGleis/>
			<IVUNetzpunkt>XDR</IVUNetzpunkt>
			<IVUTrainPositionType>Abfahrt</IVUTrainPositionType>
			<IVUVerschiebungSekunden>7</IVUVerschiebungSekunden>
		</InfrastructureMapping>
		<InfrastructureMapping>
			<MessageBetriebsstelle>XDR_N</MessageBetriebsstelle>
			<MessageEndGleis/>
			<MessageStartGleis/>
			<EBuEfVonBetriebsstelle>XDR</EBuEfVonBetriebsstelle>
			<EBuEfVonVerschiebungSekunden>5</EBuEfVonVerschiebungSekunden>
			<EBuEfNachBetriebsstelle/>
			<EBuEfNachVerschiebungSekunden/>
			<IVUGleis/>
			<IVUNetzpunkt>XDR</IVUNetzpunkt>
			<IVUTrainPositionType>Ankunft</IVUTrainPositionType>
			<IVUVerschiebungSekunden>5</IVUVerschiebungSekunden>
		</InfrastructureMapping>
		<InfrastructureMapping>
			<MessageBetriebsstelle>XDR_P</MessageBetriebsstelle>
			<MessageEndGleis/>
			<MessageStartGleis/>
			<EBuEfVonBetriebsstelle>XDR</EBuEfVonBetriebsstelle>
			<EBuEfVonVerschiebungSekunden>5</EBuEfVonVerschiebungSekunden>
			<EBuEfNachBetriebsstelle/>
			<EBuEfNachVerschiebungSekunden/>
			<IVUGleis/>
			<IVUNetzpunkt>XDR</IVUNetzpunkt>
			<IVUTrainPositionType>Ankunft</IVUTrainPositionType>
			<IVUVerschiebungSekunden>5</IVUVerschiebungSekunden>
		</InfrastructureMapping>
		<InfrastructureMapping>
			<MessageBetriebsstelle>XLG_13</MessageBetriebsstelle>
			<MessageEndGleis/>
			<MessageStartGleis/>
			<EBuEfVonBetriebsstelle/>
			<EBuEfVonVerschiebungSekunden/>
			<EBuEfNachBetriebsstelle>XLG</EBuEfNachBetriebsstelle>
			<EBuEfNachVerschiebungSekunden>7</EBuEfNachVerschiebungSekunden>
			<IVUGleis/>
			<IVUNetzpunkt>XLG</IVUNetzpunkt>
			<IVUTrainPositionType>Abfahrt</IVUTrainPositionType>
			<IVUVerschiebungSekunden>7</IVUVerschiebungSekunden>
		</InfrastructureMapping>
		<InfrastructureMapping>
			<MessageBetriebsstelle>XLG_4</MessageBetriebsstelle>
			<MessageEndGleis/>
			<MessageStartGleis/>
			<EBuEfVonBetriebsstelle/>
			<EBuEfVonVerschiebungSekunden/>
			<EBuEfNachBetriebsstelle>XLG</EBuEfNachBetriebsstelle>
			<EBuEfNachVerschiebungSekunden>7</EBuEfNachVerschiebungSekunden>
			<IVUGleis/>
			<IVUNetzpunkt>XLG</IVUNetzpunkt>
			<IVUTrainPositionType>Abfahrt</IVUTrainPositionType>
			<IVUVerschiebungSekunden>7</IVUVerschiebungSekunden>
		</InfrastructureMapping>
		<InfrastructureMapping>
			<MessageBetriebsstelle>XLG_8</MessageBetriebsstelle>
			<MessageEndGleis/>
			<MessageStartGleis/>
			<EBuEfVonBetriebsstelle/>
			<EBuEfVonVerschiebungSekunden/>
			<EBuEfNachBetriebsstelle>XLG</EBuEfNachBetriebsstelle>
			<EBuEfNachVerschiebungSekunden>7</EBuEfNachVerschiebungSekunden>
			<IVUGleis/>
			<IVUNetzpunkt>XLG</IVUNetzpunkt>
			<IVUTrainPositionType>Abfahrt</IVUTrainPositionType>
			<IVUVerschiebungSekunden>7</IVUVerschiebungSekunden>
		</InfrastructureMapping>
		<InfrastructureMapping>
			<MessageBetriebsstelle>XPN_A</MessageBetriebsstelle>
			<MessageEndGleis/>
			<MessageStartGleis/>
			<EBuEfVonBetriebsstelle/>
			<EBuEfVonVerschiebungSekunden/>
			<EBuEfNachBetriebsstelle>XPN</EBuEfNachBetriebsstelle>
			<EBuEfNachVerschiebungSekunden>7</EBuEfNachVerschiebungSekunden>
			<IVUGleis/>
			<IVUNetzpunkt>XPN</IVUNetzpunkt>
			<IVUTrainPositionType>Abfahrt</IVUTrainPositionType>
			<IVUVerschiebungSekunden>7</IVUVerschiebungSekunden>
		</InfrastructureMapping>
		<InfrastructureMapping>
			<MessageBetriebsstelle>XPN_B</MessageBetriebsstelle>
			<MessageEndGleis/>
			<MessageStartGleis/>
			<EBuEfVonBetriebsstelle>XPN</EBuEfVonBetriebsstelle>
			<EBuEfVonVerschiebungSekunden>5</EBuEfVonVerschiebungSekunden>
			<EBuEfNachBetriebsstelle/>
			<EBuEfNachVerschiebungSekunden/>
			<IVUGleis/>
			<IVUNetzpunkt>XPN</IVUNetzpunkt>
			<IVUTrainPositionType>Ankunft</IVUTrainPositionType>
			<IVUVerschiebungSekunden>5</IVUVerschiebungSekunden>
		</InfrastructureMapping>
		<InfrastructureMapping>
			<MessageBetriebsstelle>XPN_C</MessageBetriebsstelle>
			<MessageEndGleis/>
			<MessageStartGleis/>
			<EBuEfVonBetriebsstelle>XPN</EBuEfVonBetriebsstelle>
			<EBuEfVonVerschiebungSekunden>5</EBuEfVonVerschiebungSekunden>
			<EBuEfNachBetriebsstelle/>
			<EBuEfNachVerschiebungSekunden/>
			<IVUGleis/>
			<IVUNetzpunkt>XPN</IVUNetzpunkt>
			<IVUTrainPositionType>Ankunft</IVUTrainPositionType>
			<IVUVerschiebungSekunden>5</IVUVerschiebungSekunden>
		</InfrastructureMapping>
		<InfrastructureMapping>
			<MessageBetriebsstelle>XPN_D</MessageBetriebsstelle>
			<MessageEndGleis/>
			<MessageStartGleis/>
			<EBuEfVonBetriebsstelle/>
			<EBuEfVonVerschiebungSekunden/>
			<EBuEfNachBetriebsstelle>XPN</EBuEfNachBetriebsstelle>
			<EBuEfNachVerschiebungSekunden>7</EBuEfNachVerschiebungSekunden>
			<IVUGleis/>
			<IVUNetzpunkt>XPN</IVUNetzpunkt>
			<IVUTrainPositionType>Abfahrt</IVUTrainPositionType>
			<IVUVerschiebungSekunden>7</IVUVerschiebungSekunden>
		</InfrastructureMapping>
		<InfrastructureMapping>
			<MessageBetriebsstelle>XSBK1</MessageBetriebsstelle>
			<MessageEndGleis/>
			<MessageStartGleis/>
			<EBuEfVonBetriebsstelle/>
			<EBuEfVonVerschiebungSekunden/>
			<EBuEfNachBetriebsstelle>XSBK1</EBuEfNachBetriebsstelle>
			<EBuEfNachVerschiebungSekunden>7</EBuEfNachVerschiebungSekunden>
			<IVUGleis/>
			<IVUNetzpunkt>XSBK1</IVUNetzpunkt>
			<IVUTrainPositionType>Durchfahrt</IVUTrainPositionType>
			<IVUVerschiebungSekunden>7</IVUVerschiebungSekunden>
		</InfrastructureMapping>
		<InfrastructureMapping>
			<MessageBetriebsstelle>XSBK2</MessageBetriebsstelle>
			<MessageEndGleis/>
			<MessageStartGleis/>
			<EBuEfVonBetriebsstelle/>
			<EBuEfVonVerschiebungSekunden/>
			<EBuEfNachBetriebsstelle>XSBK2</EBuEfNachBetriebsstelle>
			<EBuEfNachVerschiebungSekunden>7</EBuEfNachVerschiebungSekunden>
			<IVUGleis/>
			<IVUNetzpunkt>XSBK2</IVUNetzpunkt>
			<IVUTrainPositionType>Durchfahrt</IVUTrainPositionType>
			<IVUVerschiebungSekunden>7</IVUVerschiebungSekunden>
		</InfrastructureMapping>
		<InfrastructureMapping>
			<MessageBetriebsstelle>XSBK3</MessageBetriebsstelle>
			<MessageEndGleis/>
			<MessageStartGleis/>
			<EBuEfVonBetriebsstelle/>
			<EBuEfVonVerschiebungSekunden/>
			<EBuEfNachBetriebsstelle>XSBK3</EBuEfNachBetriebsstelle>
			<EBuEfNachVerschiebungSekunden>7</EBuEfNachVerschiebungSekunden>
			<IVUGleis/>
			<IVUNetzpunkt>XSBK3</IVUNetzpunkt>
			<IVUTrainPositionType>Durchfahrt</IVUTrainPositionType>
			<IVUVerschiebungSekunden>7</IVUVerschiebungSekunden>
		</InfrastructureMapping>
		<InfrastructureMapping>
			<MessageBetriebsstelle>XSBK4</MessageBetriebsstelle>
			<MessageEndGleis/>
			<MessageStartGleis/>
			<EBuEfVonBetriebsstelle/>
			<EBuEfVonVerschiebungSekunden/>
			<EBuEfNachBetriebsstelle>XSBK4</EBuEfNachBetriebsstelle>
			<EBuEfNachVerschiebungSekunden>7</EBuEfNachVerschiebungSekunden>
			<IVUGleis/>
			<IVUNetzpunkt>XSBK4</IVUNetzpunkt>
			<IVUTrainPositionType>Durchfahrt</IVUTrainPositionType>
			<IVUVerschiebungSekunden>7</IVUVerschiebungSekunden>
		</InfrastructureMapping>
		<InfrastructureMapping>
			<MessageBetriebsstelle>XSC_F</MessageBetriebsstelle>
			<MessageEndGleis/>
			<MessageStartGleis/>
			<EBuEfVonBetriebsstelle/>
			<EBuEfVonVerschiebungSekunden/>
			<EBuEfNachBetriebsstelle>XSC</EBuEfNachBetriebsstelle>
			<EBuEfNachVerschiebungSekunden>7</EBuEfNachVerschiebungSekunden>
			<IVUGleis/>
			<IVUNetzpunkt>XSC</IVUNetzpunkt>
			<IVUTrainPositionType>Abfahrt</IVUTrainPositionType>
			<IVUVerschiebungSekunden>7</IVUVerschiebungSekunden>
		</InfrastructureMapping>
		<InfrastructureMapping>
			<MessageBetriebsstelle>XSC_N</MessageBetriebsstelle>
			<MessageEndGleis/>
			<MessageStartGleis/>
			<EBuEfVonBetriebsstelle>XSC</EBuEfVonBetriebsstelle>
			<EBuEfVonVerschiebungSekunden>5</EBuEfVonVerschiebungSekunden>
			<EBuEfNachBetriebsstelle/>
			<EBuEfNachVerschiebungSekunden/>
			<IVUGleis/>
			<IVUNetzpunkt>XSC</IVUNetzpunkt>
			<IVUTrainPositionType>Ankunft</IVUTrainPositionType>
			<IVUVerschiebungSekunden>5</IVUVerschiebungSekunden>
		</InfrastructureMapping>
		<InfrastructureMapping>
			<MessageBetriebsstelle>XTS_11</MessageBetriebsstelle>
			<MessageEndGleis/>
			<MessageStartGleis/>
			<EBuEfVonBetriebsstelle/>
			<EBuEfVonVerschiebungSekunden/>
			<EBuEfNachBetriebsstelle>XTS</EBuEfNachBetriebsstelle>
			<EBuEfNachVerschiebungSekunden>7</EBuEfNachVerschiebungSekunden>
			<IVUGleis/>
			<IVUNetzpunkt>XTS</IVUNetzpunkt>
			<IVUTrainPositionType>Durchfahrt</IVUTrainPositionType>
			<IVUVerschiebungSekunden>7</IVUVerschiebungSekunden>
		</InfrastructureMapping>
		<InfrastructureMapping>
			<MessageBetriebsstelle>XTS_12</MessageBetriebsstelle>
			<MessageEndGleis/>
			<MessageStartGleis/>
			<EBuEfVonBetriebsstelle/>
			<EBuEfVonVerschiebungSekunden/>
			<EBuEfNachBetriebsstelle>XTS</EBuEfNachBetriebsstelle>
			<EBuEfNachVerschiebungSekunden>7</EBuEfNachVerschiebungSekunden>
			<IVUGleis/>
			<IVUNetzpunkt>XTS</IVUNetzpunkt>
			<IVUTrainPositionType>Durchfahrt</IVUTrainPositionType>
			<IVUVerschiebungSekunden>7</IVUVerschiebungSekunden>
		</InfrastructureMapping>
		<InfrastructureMapping>
			<MessageBetriebsstelle>XTS_13</MessageBetriebsstelle>
			<MessageEndGleis/>
			<MessageStartGleis/>
			<EBuEfVonBetriebsstelle/>
			<EBuEfVonVerschiebungSekunden/>
			<EBuEfNachBetriebsstelle>XTS</EBuEfNachBetriebsstelle>
			<EBuEfNachVerschiebungSekunden>7</EBuEfNachVerschiebungSekunden>
			<IVUGleis/>
			<IVUNetzpunkt>XTS</IVUNetzpunkt>
			<IVUTrainPositionType>Durchfahrt</IVUTrainPositionType>
			<IVUVerschiebungSekunden>7</IVUVerschiebungSekunden>
		</InfrastructureMapping>
		<InfrastructureMapping>
			<MessageBetriebsstelle>XWF_A</MessageBetriebsstelle>
			<MessageEndGleis/>
			<MessageStartGleis/>
			<EBuEfVonBetriebsstelle/>
			<EBuEfVonVerschiebungSekunden/>
			<EBuEfNachBetriebsstelle>XWF</EBuEfNachBetriebsstelle>
			<EBuEfNachVerschiebungSekunden>7</EBuEfNachVerschiebungSekunden>
			<IVUGleis/>
			<IVUNetzpunkt>XWF</IVUNetzpunkt>
			<IVUTrainPositionType>Abfahrt</IVUTrainPositionType>
			<IVUVerschiebungSekunden>7</IVUVerschiebungSekunden>
		</InfrastructureMapping>
		<InfrastructureMapping>
			<MessageBetriebsstelle>XWF_B</MessageBetriebsstelle>
			<MessageEndGleis/>
			<MessageStartGleis/>
			<EBuEfVonBetriebsstelle/>
			<EBuEfVonVerschiebungSekunden/>
			<EBuEfNachBetriebsstelle>XWF</EBuEfNachBetriebsstelle>
			<EBuEfNachVerschiebungSekunden>7</EBuEfNachVerschiebungSekunden>
			<IVUGleis/>
			<IVUNetzpunkt>XWF</IVUNetzpunkt>
			<IVUTrainPositionType>Abfahrt</IVUTrainPositionType>
			<IVUVerschiebungSekunden>7</IVUVerschiebungSekunden>
		</InfrastructureMapping>
		<InfrastructureMapping>
			<MessageBetriebsstelle>XWF_F</MessageBetriebsstelle>
			<MessageEndGleis/>
			<MessageStartGleis/>
			<EBuEfVonBetriebsstelle/>
			<EBuEfVonVerschiebungSekunden/>
			<EBuEfNachBetriebsstelle>XWF</EBuEfNachBetriebsstelle>
			<EBuEfNachVerschiebungSekunden>7</EBuEfNachVerschiebungSekunden>
			<IVUGleis/>
			<IVUNetzpunkt>XWF</IVUNetzpunkt>
			<IVUTrainPositionType>Abfahrt</IVUTrainPositionType>
			<IVUVerschiebungSekunden>7</IVUVerschiebungSekunden>
		</InfrastructureMapping>
		<InfrastructureMapping>
			<MessageBetriebsstelle>XWF_N</MessageBetriebsstelle>
			<MessageEndGleis/>
			<MessageStartGleis/>
			<EBuEfVonBetriebsstelle>XWF</EBuEfVonBetriebsstelle>
			<EBuEfVonVerschiebungSekunden>5</EBuEfVonVerschiebungSekunden>
			<EBuEfNachBetriebsstelle/>
			<EBuEfNachVerschiebungSekunden/>
			<IVUGleis/>
			<IVUNetzpunkt>XWF</IVUNetzpunkt>
			<IVUTrainPositionType>Ankunft</IVUTrainPositionType>
			<IVUVerschiebungSekunden>5</IVUVerschiebungSekunden>
		</InfrastructureMapping>
		<InfrastructureMapping>
			<MessageBetriebsstelle>XWF_P</MessageBetriebsstelle>
			<MessageEndGleis/>
			<MessageStartGleis/>
			<EBuEfVonBetriebsstelle>XWF</EBuEfVonBetriebsstelle>
			<EBuEfVonVerschiebungSekunden>5</EBuEfVonVerschiebungSekunden>
			<EBuEfNachBetriebsstelle/>
			<EBuEfNachVerschiebungSekunden/>
			<IVUGleis/>
			<IVUNetzpunkt>XWF</IVUNetzpunkt>
			<IVUTrainPositionType>Ankunft</IVUTrainPositionType>
			<IVUVerschiebungSekunden>5</IVUVerschiebungSekunden>
		</InfrastructureMapping>
		<InfrastructureMapping>
			<MessageBetriebsstelle>XZO_A</MessageBetriebsstelle>
			<MessageEndGleis/>
			<MessageStartGleis/>
			<EBuEfVonBetriebsstelle/>
			<EBuEfVonVerschiebungSekunden/>
			<EBuEfNachBetriebsstelle>XZO</EBuEfNachBetriebsstelle>
			<EBuEfNachVerschiebungSekunden>7</EBuEfNachVerschiebungSekunden>
			<IVUGleis/>
			<IVUNetzpunkt>XZO</IVUNetzpunkt>
			<IVUTrainPositionType>Abfahrt</IVUTrainPositionType>
			<IVUVerschiebungSekunden>7</IVUVerschiebungSekunden>
		</InfrastructureMapping>
		<InfrastructureMapping>
			<MessageBetriebsstelle>XZO_F</MessageBetriebsstelle>
			<MessageEndGleis/>
			<MessageStartGleis/>
			<EBuEfVonBetriebsstelle/>
			<EBuEfVonVerschiebungSekunden/>
			<EBuEfNachBetriebsstelle>XZO</EBuEfNachBetriebsstelle>
			<EBuEfNachVerschiebungSekunden>7</EBuEfNachVerschiebungSekunden>
			<IVUGleis/>
			<IVUNetzpunkt>XZO</IVUNetzpunkt>
			<IVUTrainPositionType>Abfahrt</IVUTrainPositionType>
			<IVUVerschiebungSekunden>7</IVUVerschiebungSekunden>
		</InfrastructureMapping>
		<InfrastructureMapping>
			<MessageBetriebsstelle>XZO_N</MessageBetriebsstelle>
			<MessageEndGleis/>
			<MessageStartGleis/>
			<EBuEfVonBetriebsstelle>XZO</EBuEfVonBetriebsstelle>
			<EBuEfVonVerschiebungSekunden>5</EBuEfVonVerschiebungSekunden>
			<EBuEfNachBetriebsstelle/>
			<EBuEfNachVerschiebungSekunden/>
			<IVUGleis/>
			<IVUNetzpunkt>XZO</IVUNetzpunkt>
			<IVUTrainPositionType>Ankunft</IVUTrainPositionType>
			<IVUVerschiebungSekunden>5</IVUVerschiebungSekunden>
		</InfrastructureMapping>
		<InfrastructureMapping>
			<MessageBetriebsstelle>XZO_P</MessageBetriebsstelle>
			<MessageEndGleis/>
			<MessageStartGleis/>
			<EBuEfVonBetriebsstelle>XZO</EBuEfVonBetriebsstelle>
			<EBuEfVonVerschiebungSekunden>5</EBuEfVonVerschiebungSekunden>
			<EBuEfNachBetriebsstelle/>
			<EBuEfNachVerschiebungSekunden/>
			<IVUGleis/>
			<IVUNetzpunkt>XZO</IVUNetzpunkt>
			<IVUTrainPositionType>Ankunft</IVUTrainPositionType>
			<IVUVerschiebungSekunden>5</IVUVerschiebungSekunden>
		</InfrastructureMapping>
	</InfrastructureMappings>
</EBuEf2IVUSettings>
